body{
    text-align: center;
}
h2{
    color: gray;
    text-align:center;
}
#bg{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	height: 600px;
	width: 600px;
}
#userInput{
	background-color:rgba(0,0,0,0.3);
	height: 200px;
	width: 550px;
	margin-top: -560px;
	margin-left:390px;
	position: absolute;
}
#player{

	height: 30px;
	width: 30px;
}
#can{
	border:1px dotted;
}
#userShow{
	background-color:rgba(0,0,0,0.3);
	height: 200px;
	width: 550px;
	margin-top: -560px;
	margin-left:390px;
	position: absolute;
}

